html,
body,
#app{
  height: 100%;
  //width: 100%;
  margin: 0;
  padding: 0;
}

$spaces : 0.25;

@for $var from 1 through 100{
  .m-#{$var} {
    margin: $spaces * $var rem !important;
  }

  .mt-#{$var} {
    margin-top: $spaces * $var rem !important;
  }

  .mr-#{$var} {
    margin-right: $spaces * $var rem !important;
  }

  .mb-#{$var} {
    margin-bottom: $spaces * $var rem !important;
  }

  .ml-#{$var} {
    margin-left: $spaces * $var rem !important;
  }

  .mx-#{$var}{
    margin-right: $spaces * $var rem !important;
    margin-left: $spaces * $var rem !important;
  }
  .my-#{$var}{
    margin-top: $spaces * $var rem !important;
    margin-bottom: $spaces * $var rem !important;
  }

  .p-#{$var} {
    padding: $spaces * $var rem !important;
  }

  .pt-#{$var} {
    padding-top: $spaces * $var rem !important;
  }

  .pr-#{$var} {
    padding-right: $spaces * $var rem !important;
  }

  .pb-#{$var} {
    padding-bottom: $spaces * $var rem !important;
  }

  .pl-#{$var} {
    padding-left: $spaces * $var rem !important;
  }

  .px-#{$var}{
    padding-right: $spaces * $var rem !important;
    padding-left: $spaces * $var rem !important;
  }
  .py-#{$var}{
    padding-top: $spaces * $var rem !important;
    padding-bottom: $spaces * $var rem !important;
  }
  .w-#{$var}{
    width:$var * 1%  !important;
  }

  .h-#{$var}{
    height:$var * 1%  !important;
  }

  .lh-#{$var}{
     line-height:$var * $spaces rem !important;
   }
}

.float-left{
  float: left !important;
}

.float-right{
  float: right !important;
}

